.navbar {
    padding: 0px 10px;

    .navbar-brand {
        img {
            margin-right: 5px;
        }
    }

    .navbar-collapse {
        ul {
            margin: 0px;
            li {
                margin: 0px;
            }
        }
    }
}

.modal-dialog {
    width: 400px;
    .modal-body {
        padding: 0px;
        padding-bottom: 20px;
    }

    .modal-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
